
body {
    margin: 0;
}
.container-form {
    background-color: steelblue;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

}

.form {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 10px 30px;
    width: 220px;
    text-align: center;
    display: flex;
    flex-direction: column;
    border-radius: 5px;
}
form div {
    text-align: start;
}

.form h1 {
    font-size: 32px;
    line-height: 20px;
    font-weight: bold;
    color: white;
    margin-bottom: 30px;
}

.form label {
    color: white;
}

.form input {
    width: 100%;
    background-color: transparent;
    border: none;
    border-bottom: 2px #fff solid;
    margin-bottom: 30px;

}

.form p {
   color: white;
   font-size: 12px;
   text-align: start;
   margin: 20px 0;
}

.form span {
    color: lightblue;
}

.btn {
   
   background-color: white;
   border: none;
   padding: 10px 0;
   width: 100%;
   border-radius: 5px;
   
}