
body {
    margin: 0;
}
.content {
    display: flex;
    
}

.content h2 {
    font-size: 4rem;
    color: #fff;
    left: 50%;
    top: 20%;
    position: absolute;
    white-space: nowrap;
   transform: translate(-50%);

}

.content button {
    position: absolute;
    border: 3px solid white;
    color: white;
    background-color: transparent;
    font-size: 16px;
    font-weight: bold;
    width: 15rem;
    padding: 25px;
   cursor: pointer;
   transition: 0.3s;
}

#btn_left:hover {
    border: 3px solid rgb(69, 69, 187);
    background-color: rgb(69, 69, 187);

}

#btn_right:hover {
    border: 3px solid green;
    background-color: green;

}

.left {
    background-image: url("./ps.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 50%;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;

}

.left::before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;    
    background-color: rgba(87, 84, 236, 0.7);
}

.right {
    background-image: url("./xbox.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
    height: 100vh;
    width: 50%;
    transition: 0.7s;
    display: flex;
    flex-direction: column;
    align-items: center ;
    justify-content: center;
}


.right:before {
    content: "";
    position: absolute;
    height: 100vh;
    width: 100%;    
    background-color: rgba(43, 43, 43, 0.8);
}

.hover-right .right {
    width: 75%;
    z-index: 10;
    
}

.hover-right .left {
    width: 25%;
    z-index: 0;

}


.hover-left .left {
    width: 75%;
    z-index: 10;

}
.hover-left .right {
    width: 25%;
    z-index: 0;

}


