
body {
    height: 90vh;
    display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   
}


#container {
    margin: 50px 0;
    width: 200px;
    display: flex;
    justify-content: space-around;
    position: relative;
}

.number {
    font-size: 25px;
    padding: 8px 15px;
    margin: 0 20px;
    border: 4px solid rgb(220, 220, 220);
    border-radius: 50%;
    background-color: white;
    transition: 0.5s;
    z-index: 1;
}
#container::before {
    content: '';
    position: absolute;
    top: 50%;
    width: 160% ;
    height: 5px;
    z-index: -1;
    background-color: rgb(220, 220, 220);
}



.active {
    border: 4px solid #3498db
}

.btn {
     padding: 10px 50px;
     font-size: 15px;
     margin: 0 10px;
     border: none;
     border-radius: 10px;
     cursor: pointer;
}

/* Estilo predeterminado de la barra de progreso */
progress {
    position: absolute;
    top: 26px;
    height: 5px;
    width: 130%;
    background-color: #ddd;
    z-index: 0;
  }
  
  /* Estilo de la parte completa de la barra de progreso */
  progress::-webkit-progress-value {
    background-color: #3498db;
    transition: 0.5s;
  }
  
  /* Estilo de la parte incompleta de la barra de progreso */
  progress::-webkit-progress-bar {
    background-color: #ddd;
  }